body{
  margin:0;
  padding:0;
  background: linear-gradient(45deg,#ff4e50,#fc913a);
  font-family: Arial;
  text-align:center;
  color:white;
}

.card{
  margin-top:100px;
}

.photo{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid white;
}

button{
  padding:10px 20px;
  font-size:18px;
  border:none;
  border-radius:10px;
}
